# Ignore the virtual environment directory
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore IDE/editor specific files
.idea/
.vscode/
*.swp

# Ignore Git-related files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile*
.dockerignore

# Ignore logs and other temporary files
*.log
*.bak
*.tmp

# Ignore test files if not needed in the Docker image
tests/
*.test