opencv-python
boto3
fastapi
uvicorn
python-multipart
uvicorn[standard]
PyMuPDF
openai
faiss-cpu
numpy
python-dotenv
newberryai
pydantic
requests
pandas
mysql-connector-python
aiohttp
httpx
webrtcvad
websockets
asyncio
Werkzeug
sqlalchemy
pillow
psycopg2
python-jose
pymysql
matplotlib
bedrock-agentcore
strands-agents